*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}


body{
    font-family: "Montserrat" ,sans-serif;
}
.logo-1{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.container-fluid{
    height: 50px;

}
.navbar-brand{
    color: aqua;
    font-family: "Sora" ,sans-serif;
}
 .nav-link{
    color: aqua;
}
.nav-link:hover{
    color: whitesmoke;
}
.navbar-toggler{
    color: aqua;
}
.btn{
    height: 40px;
    width: 80px;
}

.loginBtn{
    border-color: aqua;
    border-radius: 40px;
}
.loginBtn:hover{
    background-color: rgb(226, 190, 142);
}
header{
    background-color: black;
    height: 4rem;
    font-family:"Montserrat" , sans-serif;
    z-index: 99999999;
    box-shadow: inset 6px aquamarine;
}

h1,h2,h6 {
    font-family:"Sora" , sans-serif;
    color: cyan;
}
h1{
    font-size: 3rem;
}
body{
    background-color: black;
}
p{
    color: grey;
}
.heroImg{
    border-radius: 20%;
    height: 16rem;
}

.wrapper{
    color: grey;
    box-shadow: ;
}
li{
    list-style: none;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
input{
    background-color: black; 
    border-color:aqua ;
    color: aqua;
}
@media only screen and (max-width: 600px) {
    h1 {
      font-size: 1.5rem;
    }
  }
#exampleInputEmail1::placeholder{
    color: aqua;
}